<div style="margin: 20px; font-size: 1.5rem; line-height: 1.5;">
  <ul>
    <li> pure pipe, impure pipe, pipe chaining, custom pipe--with respect to change detection. </li>
    <li> custom directive, host listener, host binding </li>
    <li> send headers through http request, manual way, interceptor way</li>
  </ul>
</div>

<hr>
<h2>Pagination UI</h2>

<i class="bi bi-chevron-double-left"></i>
<i class="bi bi-chevron-left"></i> 1 of 10
<i class="bi bi-chevron-right"></i>
<i class="bi bi-chevron-double-right"></i>


<div style="margin-bottom: 100px;"></div>
<hr>

<hr>
<h2>hide and show using css</h2>
<form [formGroup]="myForm">
  <label>
    <input type="checkbox" formControlName="enableCheckbox" /> Enable
  </label>
  <div class="input-container" [class.hide]="!myForm.controls['enableCheckbox'].value">
    <input type="text" formControlName="textInput" placeholder="Enter text" />
  </div>
</form>


<div style="margin-bottom: 100px;"></div>
<hr>

<button [routerLink]="['/rxjs-operator']">rxjs operator</button>
<button [routerLink]="['/reactive-form']">reactive form</button>

<router-outlet></router-outlet>

<hr>
<div style="height: 200px;"></div>
<app-reactive-form></app-reactive-form>

<hr>


<hr>

<hr>


<div style="margin: 20px;">
  <h1>view encapsulation</h1>
  <ul>
    <li>none</li>
    <li>shadow dom</li>
    <li>emulated</li>
  </ul>

  <app-comp1></app-comp1>
  <app-comp2></app-comp2>
</div>

<hr>

<div style="margin: 20px;">
  <h1>Pure pipe and impure pipe example and Demo</h1>
  <h3>Open console and observe number of console logs for pure and impure pipe</h3>

  <div class="main-box">
    <div class="pure-pipes">
      <div>Pure pipes</div>
      <ul>
        <li *ngFor="let number of numbers">{{ number | formatNumberPure }}</li>
      </ul>
    </div>
    <div class="impure-pipes">
      <div>Impure pipes</div>
      <ul>
        <li *ngFor="let number of numbers">{{ number | formatNumberImpure }}</li>
      </ul>
    </div>
  </div>
  <button (click)="increment()">Increment Number</button>
</div>


<hr>
<div style="margin: 20px;">
  <h1>Custom directive example</h1>

  <p class="custom" appCustomDesign >with custom directive: I have some data</p>

</div>

<hr>

<div style="margin: 20px;">
  <h1 #template>View child and view children in angular</h1>
</div>

<app-child></app-child>
<app-child></app-child>
<app-child></app-child>




<br>
<h1>RxJS operator</h1>

<!-- <app-rxjs-operator></app-rxjs-operator> -->

<!-- 
<h1>NgRx Demo</h1>

<app-counter></app-counter>
<router-outlet></router-outlet> -->